<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tdoer.coredata.framework.mapper.organization.OrganizationMapper">
  <resultMap id="BaseResultMap" type="com.tdoer.coredata.framework.eo.tenant.OrganizationEO">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="TENANT_ID" jdbcType="INTEGER" property="tenantId" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="CODE" jdbcType="VARCHAR" property="code" />
    <result column="LEVEL" jdbcType="INTEGER" property="level" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="PARENT_ID" jdbcType="BIGINT" property="parentId" />
    <result column="CONTEXT_TYPE" jdbcType="INTEGER" property="contextType" />
    <result column="CONTEXT_PATH" jdbcType="VARCHAR" property="contextPath" />
    <result column="DESCRIPTION" jdbcType="VARCHAR" property="description" />
    <result column="CREATED_BY" jdbcType="VARCHAR" property="createdBy" />
    <result column="CREATED_AT" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="UPDATED_BY" jdbcType="VARCHAR" property="updatedBy" />
    <result column="UPDATED_AT" jdbcType="TIMESTAMP" property="updatedAt" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, TENANT_ID, NAME, CODE, LEVEL, STATUS, PARENT_ID, CONTEXT_TYPE, CONTEXT_PATH, 
    DESCRIPTION, CREATED_BY, CREATED_AT, UPDATED_BY, UPDATED_AT
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from organization
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from organization
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="ID" keyProperty="id" parameterType="com.tdoer.coredata.framework.eo.tenant.OrganizationEO" useGeneratedKeys="true">
    insert into organization (TENANT_ID, NAME, CODE, 
      LEVEL, STATUS, PARENT_ID, 
      CONTEXT_TYPE, CONTEXT_PATH, DESCRIPTION, 
      CREATED_BY, CREATED_AT, UPDATED_BY, 
      UPDATED_AT)
    values (#{tenantId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, 
      #{level,jdbcType=INTEGER}, #{status,jdbcType=VARCHAR}, #{parentId,jdbcType=BIGINT}, 
      #{contextType,jdbcType=INTEGER}, #{contextPath,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{createdBy,jdbcType=VARCHAR}, #{createdAt,jdbcType=TIMESTAMP}, #{updatedBy,jdbcType=VARCHAR}, 
      #{updatedAt,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyColumn="ID" keyProperty="id" parameterType="com.tdoer.coredata.framework.eo.tenant.OrganizationEO" useGeneratedKeys="true">
    insert into organization
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tenantId != null">
        TENANT_ID,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="code != null">
        CODE,
      </if>
      <if test="level != null">
        LEVEL,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="parentId != null">
        PARENT_ID,
      </if>
      <if test="contextType != null">
        CONTEXT_TYPE,
      </if>
      <if test="contextPath != null">
        CONTEXT_PATH,
      </if>
      <if test="description != null">
        DESCRIPTION,
      </if>
      <if test="createdBy != null">
        CREATED_BY,
      </if>
      <if test="createdAt != null">
        CREATED_AT,
      </if>
      <if test="updatedBy != null">
        UPDATED_BY,
      </if>
      <if test="updatedAt != null">
        UPDATED_AT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tenantId != null">
        #{tenantId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="level != null">
        #{level,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=BIGINT},
      </if>
      <if test="contextType != null">
        #{contextType,jdbcType=INTEGER},
      </if>
      <if test="contextPath != null">
        #{contextPath,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tdoer.coredata.framework.eo.tenant.OrganizationEO">
    update organization
    <set>
      <if test="tenantId != null">
        TENANT_ID = #{tenantId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        CODE = #{code,jdbcType=VARCHAR},
      </if>
      <if test="level != null">
        LEVEL = #{level,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        PARENT_ID = #{parentId,jdbcType=BIGINT},
      </if>
      <if test="contextType != null">
        CONTEXT_TYPE = #{contextType,jdbcType=INTEGER},
      </if>
      <if test="contextPath != null">
        CONTEXT_PATH = #{contextPath,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        DESCRIPTION = #{description,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null">
        CREATED_BY = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null">
        CREATED_AT = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        UPDATED_BY = #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedAt != null">
        UPDATED_AT = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tdoer.coredata.framework.eo.tenant.OrganizationEO">
    update organization
    set TENANT_ID = #{tenantId,jdbcType=INTEGER},
      NAME = #{name,jdbcType=VARCHAR},
      CODE = #{code,jdbcType=VARCHAR},
      LEVEL = #{level,jdbcType=INTEGER},
      STATUS = #{status,jdbcType=VARCHAR},
      PARENT_ID = #{parentId,jdbcType=BIGINT},
      CONTEXT_TYPE = #{contextType,jdbcType=INTEGER},
      CONTEXT_PATH = #{contextPath,jdbcType=VARCHAR},
      DESCRIPTION = #{description,jdbcType=VARCHAR},
      CREATED_BY = #{createdBy,jdbcType=VARCHAR},
      CREATED_AT = #{createdAt,jdbcType=TIMESTAMP},
      UPDATED_BY = #{updatedBy,jdbcType=VARCHAR},
      UPDATED_AT = #{updatedAt,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>