<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <jmxConfigurator/>

    <springProfile name="default,dev">
        <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%X{logId}] %-5p [%file:%line] - %m%n</pattern>
            </encoder>
        </appender>
        <logger name="com.tdoer.coredata" level="debug" additivity="false">
            <appender-ref ref="STDOUT" />
        </logger>
        <logger name="com.tdoer.datasource" level="debug" additivity="false">
            <appender-ref ref="STDOUT" />
        </logger>
        <root level="INFO">
            <appender-ref ref="STDOUT"/>
        </root>
    </springProfile>
    <springProfile name="sit,uat">
        <appender name="LOG_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <encoder>
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%X{logId}] %-5p [%file:%line] - %m%n</pattern>
            </encoder>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>logs/%d{yyyy-MM-dd}.log</fileNamePattern>
                <maxHistory>10</maxHistory>
                <totalSizeCap>300MB</totalSizeCap>
            </rollingPolicy>
        </appender>
        <!--<logger name="com.bybon" level="INFO" additivity="false">-->
            <!--<appender-ref ref="LOG_FILE" />-->
        <!--</logger>-->
        <root level="INFO">
            <appender-ref ref="LOG_FILE"/>
        </root>
    </springProfile>
    <springProfile name="prod">
        <appender name="LOG_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <encoder>
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%X{logId}] %-5p [%file:%line] - %m%n</pattern>
            </encoder>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>logs/%d{yyyy-MM-dd}.log</fileNamePattern>
                <maxHistory>10</maxHistory>
                <totalSizeCap>300MB</totalSizeCap>
            </rollingPolicy>
        </appender>

        <root level="INFO">
            <appender-ref ref="LOG_FILE"/>
        </root>
    </springProfile>
</configuration>
